/node_modules
/.env.local
/.umirc.local.ts
/config/config.local.ts
/src
.swc
.npmrc
.yarnrc
.umirc.ts
package.json
.yarn.lock
.pnpm-workspace.yaml
.pnpm-store
.pnpm-debug.log
.yarn-debug.log
.yarn-error.log
.yarn-metadata.json
pnpm-lock.yaml
typings.d.ts
tsconfig.json
